<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
<!--    <module name="JavadocPackage"/>-->
    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="ConstantName"/>
        <module name="EmptyBlock"/>
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="CyclomaticComplexity"/>
    </module>
</module>