<mat-card class="sale-card">
  <h2>{{titulo}}</h2>

  <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateSale" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Preço</mat-label>
      <input matInput formControlName="price" [readonly]="true" [disabled]="true" type="text" >
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="client">
            @for (client of clients; track client) {
            <mat-option [value]="client">{{client.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Vendedor</mat-label>
        <mat-select formControlName="seller">
            @for (seller of sellers; track seller) {
            <mat-option [value]="seller">{{seller.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="header" style="display: flex; justify-content: flex-end; padding-bottom: 1%;">
      <button mat-raised-button color="primary" class="class-button" type="button" (click)="addProduct()">
        Adicionar Produto
      </button>
    </div>

    <table mat-table [dataSource]="sale.products" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
        <div style="display: flex; justify-content: space-around;">
          <button mat-icon-button type="button" (click)="deleteProductSale(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>
    
    <button mat-raised-button color="primary" type="submit" class="class-button">
        Salvar
    </button>
  </form>
</mat-card>
