<mat-toolbar color="primary">
  <a routerLink="/home" style="text-decoration: none; color: inherit; font-size: 2em; font-weight: bold; font-family: sans-serif;">
    <span style="color: #4CAF50;">E-</span>Loja
  </a>

  <!-- ADMIN -->
  @if (role === 1) {
    <div class="centered-icons">
      <button mat-button routerLink="/departments" style="color: white;">Departamentos</button>
      <button mat-button routerLink="/products" style="color: white;">Produtos</button>
      <button mat-button routerLink="/sales" style="color: white;">Vendas</button>
      <button mat-button routerLink="/clients" style="color: white;">Clientes</button>
      <button mat-button routerLink="/sellers" style="color: white;">Vendedores</button>
      <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
  }

  <!-- CLIENT -->
  @if (role === 2) {
    <div class="centered-icons">
      <button mat-button routerLink="/salehistory" style="color: white;">Histórico de Compras</button>
      <button mat-button [routerLink]="routerPersonData" style="color: white;">Dados Pessoais</button>
      <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
  }

  <!-- SELLER -->
  @if (role === 3) {
    <div class="centered-icons">
      <button mat-button routerLink="/products" style="color: white;">Produtos</button>
      <button mat-button routerLink="/sales" style="color: white;">Vendas</button>
      <button mat-button routerLink="/clients" style="color: white;">Clientes</button>
      <button mat-button [routerLink]="routerPersonData" style="color: white;">Dados Pessoais</button>
      <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
  }

</mat-toolbar>
<router-outlet />
