<mat-toolbar color="primary">
  <span>Minha Aplicação</span>

  <div class="centered-icons">
    <button mat-button routerLink="/departments">Departamentos</button>
    <button mat-button routerLink="/products">Produtos</button>
    <button mat-button routerLink="/sales">Vendas</button>
    <button mat-button routerLink="/clients">Clientes</button>
    <button mat-button routerLink="/sellers">Vendedores</button>

    <button mat-icon-button aria-label="Settings icon">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  
</mat-toolbar>
<router-outlet />
