/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F5F5F5;}

mat-card {
  background-color: #FFFFFF !important; /* Branco puro para os cards */
  color: #333333; /* Cor do texto dentro do card (um cinza escuro para boa legibilidade) */
}